
@model IEnumerable<PROG7311_TASK2.ViewModel.CategoryViewModel>

    
@foreach (var item in Model)
{
        
           
    <div class="col-md-4">
        <b>@item.Name</b>
        <p>@item.Description</p>

        <ol>
           
        </ol>
    </div>

          
        
}
