@{
    ViewData["Title"] = "About";
    Layout = "_Layout";
}

<div style="padding-top: 35px;"></div>
<div class="container">
    <h2>ACME INC</h2>
    <hr />
    <p>
        ACME INC is one of the latest and fastest growing ecommerce store yet!

    </p>
    <div style="padding-top: 35px;"></div>
 
</div>